.radio {
  @apply cursor-pointer flex items-center gap-4 relative;

  > input {
    @apply absolute opacity-0;

    &:checked {
      + h6 {
        @apply text-black;
      }
    }
  }

  > &::before {
    @apply w-8 h-8 rounded-full border border-gray block;
    content: "";
  }

  > &::after {
    @apply w-4 h-4 rounded-full absolute left-2 hidden;
    background-color: #187abb;
    content: "";
  }

  &:has(:checked)::before {
    @apply border-white border-2;
    border-color: #187abb;
  }

  &:has(:focus)::before {
    @apply border-2;
    border-color: #187abb;
  }

  &:has(:checked)::after {
    @apply block;
  }

  &:has(:focus)::after {
    @apply block;
  }

  &.dark {
    > h6 {
      @apply text-gray;
    }
  }
}
